li{
    list-style: none;
    padding: 20px;
}

header{
    background-color: #198754;
    text-align: center;
    width: 100%;
    height: auto;
}
main {
    display: flex;    
    justify-content: space-around;
}
aside{
    justify-content: space-evenly;
}
figure{
    display: flex;
}
figcaption{
    padding: 10px;
}
footer {
    background-color:#198754;
    display: flex;
    height: auto;
}
footer > ul{
    display: flex;
    justify-content: space-around;    
    margin: revert;   
}
footer > ul > li > a {
    text-decoration: none;
    color: white;    
}
footer > ul > li > a:hover {
    color: white;
}
